body{
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.block-input-data{
    background-color: rgba(13, 68, 112);
    position: absolute;
    top: 25%;
    display: grid;
    grid-template-columns: repeat(3, [col-start] auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 12px;
    row-gap: 12px;
    z-index: 10;
    padding: 12px 20px;
}


.block-input-data__title{
    grid-column: col-start 2 ;
    grid-row: 1;
}

.block-input-data__text-input{
    grid-column: col-start / span 3;
    grid-row: 2;
    resize: none;
}

.block-input-data__submit{
    grid-column: col-start 2;
    grid-row: 3;
}

.post-block{
    background-color: rgba(102, 179, 242, 0.6);
    border-bottom: 1px solid rgb(116, 114, 114);
    display: grid;
    grid-template-columns: repeat(6, [col-start] 100px);
    grid-template-rows: repeat(3, auto);
    padding: 15px;
}

.post-block__name{
    grid-column: col-start / span 2;
    grid-row: 1;
    justify-self: left;
    align-self: center;
}

.post-block__email{
    grid-column: col-start 3/ span 1;
    grid-row: 1;
    justify-self: left;
    align-self: center;
}

.post-block__title{
    grid-row: 2;
    grid-column: col-start / span 6;
    text-transform: uppercase;
}

.post-block__text{
    padding-top: 8px;
    grid-row: 3;
    grid-column: col-start / span 6;
}

.post-block__edit-button{
    grid-row: 1;
    grid-column: col-start 5;
    border: none;
    height: 30px;
    cursor: pointer;
    justify-self: right;
    align-self: top;
}

.post-block__edit-button:hover{
    background-color: rgb(193, 206, 19);
    color: #fff;
}

.post-block__close-button{
    grid-row: 1;
    grid-column: col-start 6;
    width: 35px;
    height: 35px;
    justify-self: right;
    align-self: top;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0px;
    background: rgba(34, 162, 201,0);
    color: rgb(37, 192, 31);
    cursor: pointer;
}